<div class="result">
  <div class="left">
    <div class="photo">
      <%= image_tag @search[:avatar], class: "avatar" %>
    </div>
    <div class="text">
      <strong><%= @search[:username] %></strong><br>
      <%= "My name is #{@search[:username]} and my favourite language is #{@search[:total].first.first}" %>
    </div>
  </div>

  <div class="right">
    <p>1min</p>
  </div>
</div>
<div class="divider">
  <%= link_to "Back to Search", search_path, class: "button" %>
</div>
<div class="languages">
  <div class="languages-repos">
    <h3>Repositories</h3>
    <% @search[:repos].each do |repo| %>
      <h4><strong><%= "#{repo[:name]}"%></strong><%= " (#{repo[:main_language]})" %></h4>
      <ol>
      <% repo[:languages].each do |key, value| %>
        <li>
        <%= "#{key}" %> <%= ": #{value}" %>
        </li>
      <% end %>
      </ol>
    <% end %>
  </div>

  <div class="languages-preferred">
    <h3>Preferred languages</h3>
    <ol>
      <% @search[:total].each do |key, value| %>
        <li>
          <%= "#{key} (#{value})" %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
